[Unit]
Description=Run sync_remote_to_local.sh every minute

[Timer]
OnBootSec=30
OnUnitActiveSec=60
Unit=sync_remote.service

[Install]
WantedBy=timers.target
